@model IEnumerable<YcgItInventorySystem_V2.Models.Inventory.SP_InvMstAssetItem_List>

@{
    ViewData["Title"] = "ทรัพย์สิน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table > tbody > tr > td {
        padding: 1px 1px 1px 1px;
        width: 90px
    }
</style>

<!-- DataTables -->
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<h3>ทรัพย์สิน</h3>

<p>
    <a asp-action="Create" class="btn btn-primary"> + สร้างข้อมูล</a>
</p>
<table class="table table-bordered"   border="1" id="myTable" style="width:100%;border-collapse:collapse;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemText)
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Catagory
            </th>
            <th>
                Brand
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelText)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ActiveFlag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatagoryText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelText)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ActiveFlag)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
    $(function () {
        $("#myTable").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#myTable_wrapper .col-md-6:eq(0)');

    });
</script>