@model YcgItInventorySystem_V2.Models.Inventory.RunningInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RunningInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Running)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Running)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InfoDesc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
