@model YcgItInventorySystem_V2.Models.Inventory.Req_FormIt

@{
    ViewData["Title"] = "Create";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Select2 -->
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">


<link rel="stylesheet" href="~/dist/css/adminlte.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<style>
    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }
</style>
<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">ส่วนที่ 1 ข้อมูลการใช้บริการ</h3>
    </div>
    <div class="col-12">

        <form asp-action="Create" id="createform">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tabs-person-tab" data-toggle="pill" href="#tabs-person" role="tab" aria-controls="tabs-person" aria-selected="true">ผู้ใช้งาน</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabs-access-tab" data-toggle="pill" href="#tabs-access" role="tab" aria-controls="tabs-access" aria-selected="false">สิทธิการใช้งาน</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabs-effective-tab" data-toggle="pill" href="#tabs-effective" role="tab" aria-controls="tabs-effective" aria-selected="false">วันที่มีผล</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabs-filing-tab" data-toggle="pill" href="#tabs-filing" role="tab" aria-controls="tabs-filing" aria-selected="false">ผู้ยื่นคำขอ</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">

                    <div class="tab-content" id="custom-tabs-one-tabContent" role="tablist">

                        <input type="hidden" asp-for="ReqNo" id="ReqHNo" class="form-control" />
                        <input type="hidden" id="emplogin" value=@ViewBag.emplogin class="form-control" />
                        <div class="tab-pane fade show active" id="tabs-person" role="tabpanel" aria-labelledby="tabs-person-tab">
                            <div class="row">
                                <div class="form-group">

                                    <input type="radio" name="UpandDownUser" value="Up"  data-toggle="modal" data-target="#modalemp"  onclick="sendUserStatus('0');" /> <label>เพิ่ม</label>
                                    <input type="radio" value="Down" name="UpandDownUser" data-toggle="modal" data-target="#modalemp" onclick="sendUserStatus('1');" /><label> ลด </label>
                                    <label style="margin-left: 20px;"> ผู้ใช้งาน ดังมีรายละเอียด ต่อไปดังนี้</label>
                                    <input type="hidden" asp-for="UserStatus" id="UserStatus" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group input-group">

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label asp-for="UsersNameTitle" class="control-label-sm">คำนำหน้า</label>
                                                <select asp-for="UsersNameTitle"
                                                        class="custom-select"
                                                        asp-items="@(new SelectList(@ViewBag.ListNamePrefix, "Id", "NamePrefix"))">
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="UsersFirstName_TH" class="control-label">ชื่อ-นามสกุล(ไทย)</label>
                                            <div class="form-group input-group">
                                                <input asp-for="UsersFirstName_TH" id="UsersFirstName_TH" class="form-control" placeholder="ชื่อ(ไทย)" />
                                                <input asp-for="UsersLastName_TH" id="UsersLastName_TH" class="form-control" placeholder="นามสกุล(ไทย)" />


                                            </div>
                                        </div>
                                    </div>
                                    @* End Input-group *@
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group input-group">
                                        <div class="col-md-6">
                                            <label asp-for="UsersEmpCode" class="control-label">รหัสพนักงาน</label>
                                            <input asp-for="UsersEmpCode" class="form-control" placeholder="รหัสพนักงาน" id="UsersEmpCode" />

                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="UserLevelId" class="control-label">ระดับ</label>
                                            <select asp-for="UserLevelId" id="UserLevelId"
                                                    class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListLevel, "LevelId", "LevelText"))">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group input-group">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UsersFirstName_EN" class="control-label">ชื่อ-นามสกุล(อังกฤษ)</label>
                                            <div class="form-group input-group">
                                                <input asp-for="UsersFirstName_EN" class="form-control" placeholder="ชื่อ(อังกฤษ)" />
                                                <input asp-for="UsersLastName_EN" class="form-control" placeholder="นามสกุล(อังกฤษ)" />

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group input-group">
                                        <div>
                                            <label asp-for="UserPosition" class="control-label">ตำแหน่ง</label>
                                            <select asp-for="UserPosition" id="UserPosition"
                                                    class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListmstPosition, "PositionId", "PositionText"))">
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group input-group">

                                        <div>
                                            <label asp-for="UserCompCode" class="control-label">บริษัท</label>
                                            <small>
                                                <select asp-for="UserCompCode" id="UserCompCode"
                                                        class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListComp, "CompanyId", "CompanyText"))">
                                                </select>
                                            </small>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label asp-for="UserLocationId" class="control-label">สาขา</label>
                                    <small>
                                        <select asp-for="UserLocationId" id="UserLocationId"
                                                class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListLocation, "LocationId", "LocationText"))">
                                        </select>
                                    </small>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group input-group">

                                        <div>
                                            <label asp-for="UserDeptCode" class="control-label">ฝ่าย</label>
                                            <select asp-for="UserDeptCode" id="UserDeptCode"
                                                    class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListDept, "DepartmentId", "DepartmentText"))">
                                            </select>
                                        </div>
                                        <div>
                                            <label asp-for="UserSectionId" class="control-label">แผนก</label>
                                            <select asp-for="UserSectionId" id="UserSectionId"
                                                    class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListSection, "SectionId", "SectionText"))">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="tab-pane fade" id="tabs-access" role="tabpanel" aria-labelledby="tabs-access-tab">

                            <div class="row">
                                <div class="column col-6">

                                    <table class="table table-sm" id="myTBService1">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%">
                                                    เพิ่ม
                                                </th>
                                                <th style="width: 10%">
                                                    ลด
                                                </th>
                                                <th style="width: 20%">
                                                    รายการ
                                                </th>
                                                <th style="width: 40%">
                                                    รายละเอียดเพิ่มเติม
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.ListServiceType)
                                            {
                                                if (item.ServiceCode <= 9)
                                                {

                                                    <tr height="10px;">
                                                        <td>

                                                            <small>  <input type="radio" value="@(item.ServiceCode)" name=@item.ServiceCode></small>

                                                        </td>
                                                        <td>
                                                            <small> <input type="radio" value="@(item.ServiceCode)" name=@item.ServiceCode></small>
                                                        </td>
                                                        <td>
                                                            <small> <input type="hidden" value="@(item.ServiceCode)" style="width: 100%" /><label type="" id="ServiceName" onclick="clearalladd(@(item.ServiceCode));">@(item.ServiceName)</label></small>
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (item.ServiceCode == 16)
                                                                { <small><input type="text" id="Remark" placeholder="รายละเอียด" style="width: 100%" /></small>
                                                                    <small><input type="text" id="IMEI" placeholder="IMEI No." style="width: 100%" /></small>
                                                                    <small><input type="text" id="assetCode" placeholder="รหัสทรัพย์สิน" style="width: 100%" /></small>
                                                                }
                                                                else if (item.ServiceCode == 7)
                                                                {
                                                                    <small><input type="text" id="Remark7" placeholder="รายละเอียด" style="width: 100%" /></small>
                                                                    <small><input type="text" id="Enddate7" placeholder="ถึงวันที่" style="width: 100%" /></small>
                                                                }
                                                                else
                                                                {
                                                                    <small><input type="text" id="Remark" placeholder="รายละเอียด" style="width: 100%" /></small>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="column col-6">

                                    <table class="table table-sm" id="myTBService2">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%">
                                                    เพิ่ม
                                                </th>
                                                <th style="width: 10%">
                                                    ลด
                                                </th>
                                                <th style="width: 20%">
                                                    รายการ
                                                </th>
                                                <th style="width: 40%">
                                                    รายละเอียดเพิ่มเติม
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.ListServiceType)
                                            {
                                                if (item.ServiceCode >= 10)
                                                {
                                                    <tr height="10px;">
                                                        <td>
                                                            <small>  <input type="radio" value="@(item.ServiceCode)" name=@(item.ServiceCode)></small>

                                                        </td>
                                                        <td>
                                                            <small> <input type="radio" value="@(item.ServiceCode)" name=@(item.ServiceCode)></small>
                                                        </td>
                                                        <td>
                                                            <small> <input type="hidden" value="@(item.ServiceCode)" style="width: 100%" /><label type="" id="ServiceName" onclick="clearalladd(@(item.ServiceCode));">@(item.ServiceName)</label></small>
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (item.ServiceCode == 16)
                                                                { <small><input type="text" id="Remark16" placeholder="รายละเอียด" style="width: 100%" /></small>
                                                                    <small><input type="text" id="IMEI" placeholder="IMEI No." style="width: 100%" /></small>
                                                                    <small><input type="text" id="assetCode" placeholder="รหัสทรัพย์สิน" style="width: 100%" /></small>
                                                                }
                                                                else if (item.ServiceCode == 17)
                                                                {
                                                                    <small><input type="text" id="Remark17" placeholder="รายละเอียด" style="width: 100%" /></small>
                                                                    <small><input type="text" id="Enddate17" placeholder="ถึงวันที่" style="width: 100%" /></small>
                                                                }
                                                                
                                                                else
                                                                {
                                                                    <small><input type="text" id="Remark" placeholder="รายละเอียด" style="width: 100%" /></small>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="tabs-effective" role="tabpanel" aria-labelledby="tabs-effective-tab">

                            <div class="row">
                                <div class="col-3">
                                    <label asp-for="EffectStartDate" class="control-label">วันที่เริ่ม</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" id="EffectStartDate_Temp" class="form-control">
                                        <input type="hidden" asp-for="EffectStartDate" id="H_EffectStartDate" class="form-control">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label asp-for="EffectEndDate" class="control-label">วันที่สิ้นสุด</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" id="EffectEndDate_Temp" class="form-control">
                                        <input type="hidden" asp-for="EffectEndDate" id="H_EffectEndDate" class="form-control">

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Reason" class="control-label">ระบุเหตุผล</label>
                                <input asp-for="Reason" class="form-control" id="Reason" />
                                <span asp-validation-for="Reason" class="text-danger"></span>
                            </div>



                        </div>
                        <div class="tab-pane fade" id="tabs-filing" role="tabpanel" aria-labelledby="tabs-filing-tab">

                            <div class="row">
                                <div class="col-5">

                                    <div class="form-group">
                                        <label asp-for="FilingEmpCode" class="control-label">ผู้ยื่นคำขอ</label>
                                        <select asp-for="FilingEmpCode" class="form-control select2" style="width: 100%;" id="FilingEmpCode" onchange="Filingempdeptget();"
                                                asp-items="@(new SelectList(@ViewBag.ListempMstEmployee, "empcode", "empname" ))">
                                        </select>
                                        <span asp-validation-for="FilingEmpCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group input-group">

                                        <div class="col-md-6">
                                            <label asp-for="FilingDept" class="control-label">ฝ่าย</label>
                                            <select asp-for="FilingDept" id="FilingDept"
                                                    class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListDept, "DepartmentId", "DepartmentText"))">
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="FilingSection" class="control-label">แผนก</label>
                                            <select asp-for="FilingSection" id="FilingSection"
                                                    class="form-control select2" asp-items="@(new SelectList(@ViewBag.ListSection, "SectionId", "SectionText"))">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label asp-for="ContactNumber" class="control-label">เบอร์ติดต่อ</label>
                                        <input asp-for="ContactNumber" class="form-control" id="ContactNumber" />
                                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <input type="button" value="ส่งคำขอใช้บริการ" class="btn btn-primary btn-block" id="btnSave" onclick="check_validation();" />

                </div>

        </form>

    </div>
    <div>

        <a asp-action="Index">ย้อนกลับ</a>
    </div>
</div>

<div class="modal fade" id="modalemp" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">ค้นหาข้อมูลพนักงาน</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover" id="myTableEmp">
                    <thead>
                        <tr>
                            <th>
                                <small> รหัสพนักงาน </small>
                            </th>
                            <th>
                                <small> ชื่อ-นามสกุล </small>
                            </th>
                            <th>
                                <small> ตำแหน่ง </small>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Listsp_EmpMstEmployeeActives)
                        {
                            <tr>
                                <td><small><labal>@item.EmployeeId</labal></small></td>
                                <td><small><labal  id="nameemp" >@item.EmployeeName</labal></small></td>
                                <td><small><labal>@item.PositionText</labal></small></td>
                                <td> <button class="btn btn-xs" onclick="SendInfoEmp(@item.EmployeeId,@item.CompanyId ,@item.LocationId ,@item.DepartmentId ,@item.SectionId ,@item.PositionId,   @item.LevelId);">เลือก</button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button"   id="closem" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

    @*<script>

            $(document).ready(function () {
                $('#EffectEndDate_Temp').datepicker({
                    format: 'dd/mm/yyyy',
                });
                $('#EffectStartDate_Temp').datepicker({
                    format: 'dd/mm/yyyy',
                });


            });

        </script>*@
}

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>

    $(document).ready(function () {
        $('#EffectEndDate_Temp').datepicker({
            format: 'dd/mm/yyyy',
        });
        $('#EffectStartDate_Temp').datepicker({
            format: 'dd/mm/yyyy',
        });
        $('#Enddate7').datepicker({
            format: 'dd/mm/yyyy',
        });
        $('#Enddate17').datepicker({
            format: 'dd/mm/yyyy',
        });
        //console.log();
        $("#FilingEmpCode").val($("#emplogin").val());
        Filingempdeptget()

        $("#myTableEmp").DataTable(
            {
                "responsive": true, "lengthChange": false, "autoWidth": false, paging: false, bInfo: false
            });
    });

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })


    })

    function Filingempdeptget()
    {
        var fempcode = $("#FilingEmpCode").val();
            $.ajax({
                type: "Get",
                data: { empcode: fempcode },
                url: '@Url.Action("empDept", "ReqFormIT")',
                success: function (Data)
                {
                    $("#FilingDept").val(Data).trigger('change');

                }
                });

        $.ajax({
            type: "Get",
            data: { empcode: fempcode },
            url: '@Url.Action("empsection", "ReqFormIT")',
            success: function (Data)
             {

                $("#FilingSection").val(Data).trigger('change');

             }
        });
//empInfologin
          $.ajax({
            type: "Get",
            data: { empcode: fempcode },
            url: '@Url.Action("empInfologin", "ReqFormIT")',
            success: function (Data)
            {
                console.log(Data.CompanyId);
                console.log(Data.LocationId);
                $("#UserCompCode").val(Data[0].companyId).trigger('change');
                $("#UserLocationId").val(Data[0].locationId).trigger('change');
             }
            });
    }

    function clearalladd(srvc)
    {

        var ele = document.getElementsByName(srvc);
        console.log(ele.length);
        for (var i = 0; i < ele.length; i++)
            ele[i].checked = false;
        console.log(i);

    }

    function clearallremove()
    {
        var ele = document.getElementsByName("r_remove");
        for (var i = 0; i < ele.length; i++)
            ele[i].checked = false;

    }


    function checkstep1() {

        if ($("#UsersFirstName_TH").val() == "") {
            document.getElementById("UsersFirstName_TH").focus();
            alert("โปรดใส่ชื่อภาษาไทย");
            $('[href="#tabs-person"]').tab('show');
            return false;

        }
        if ($("#UsersLastName_TH").val() == "") {
            document.getElementById("UsersLastName_TH").focus();
            alert("โปรดใส่นามสกุลภาษาไทย");
            return false;

        }
        if ($("#UsersFirstName_EN").val() == "") {
            document.getElementById("UsersFirstName_EN").focus();
            alert("โปรดใส่ชื่อภาษาอังกฤษ");
            return false;

        }

        if ($("#UsersLastName_EN").val() == "") {
            document.getElementById("UsersLastName_EN").focus();
            alert("โปรดใส่นามสกุลภาษาอังกฤษ");
            return false;

        }

        if ($("#UsersEmpCode").val() == "")
        {
            document.getElementById("UsersEmpCode").focus();
            alert("โปรดใส่รหัสพนักงาน");
            return false;
        }
        if ($("#UserLevelId").val() == "0") {
            document.getElementById("UserLevelId").focus();
            alert("โปรดเลือกระดับของพนักงาน");
            return false;
        }

        console.log($("UserPosition").val());
        console.log($("UserDeptCode").val());
        if ($("#UserPosition").val() == 0)
        {

            document.getElementById("UserPosition").focus();
            alert("โปรดเลือกตำแหน่ง");
            return false;
        }

        if ($("#UserDeptCode").val() == 0) {
            document.getElementById("UserDeptCode").focus();
            alert("โปรดเลือกฝ่าย");
            return false;
        }

        if ($("#UserSectionId").val() == 0) {
            document.getElementById("UserSectionId").focus();
            alert("โปรดเลือกแผนก");
            return false;
        }
    }

    function checkstep3() {
        console.log($('#EffectStartDate_Temp').val());
        console.log($('#EffectEndDate_Temp').val());
        if ($('#EffectStartDate_Temp').val() == "" && $('#EffectEndDate_Temp').val() =="")
        {
            document.getElementById("EffectStartDate_Temp").focus();
            alert("โปรดเลือกวันที่เริ่มหรือวันที่สิ้นสุด");
            return false;
        }
        if ($("#Reason").val() == 0) {
            document.getElementById("Reason").focus();
            alert("โปรดระบุเหตุผล");
            return false;
        }

    }

    function checkstep4() {

        if ($("#FilingEmpCode").val() == "0") {
            document.getElementById("FilingEmpCode").focus();
            alert("โปรดเลือกผู้ยื่นคำขอ");
            return false;
        }
        if ($("#ContactNumber").val() == "")
        {
            document.getElementById("ContactNumber").focus();
            alert("โปรดใส่เบอรืติดต่อ");
            return false;
        }
    }
    function SendInfoEmp(EmployeeId, CompanyId, LocationId, DepartmentId, SectionId, PositionId,  LevelId) {
       
         $.ajax({
            type: "Get",
             data: { empcode: EmployeeId },
            url: '@Url.Action("empInfologin", "ReqFormIT")',
            success: function (Data)
            {
             
                $("#UsersFirstName_TH").val(Data[0].employeeNameFirst) ;
                $("#UsersLastName_TH").val(Data[0].employeeNameLast) ;
             }
         });

        $("#UserPosition").val(PositionId).trigger('change');
        $("#UserLevelId").val(LevelId).trigger('change');
        $("#UserDeptCode").val(DepartmentId).trigger('change');
        $("#UserSectionId").val(SectionId).trigger('change');

        $("#UsersEmpCode").val(EmployeeId);
        $("#UserCompCode").val( CompanyId).trigger('change');
        $("#UserLocationId").val( LocationId).trigger('change');

        $("#modalemp").modal('hide');
        $("#closem").click();
    }

    function sendUserStatus(statuscode) {
        var checkedValue = document.getElementsByName("UpandDownUser")[statuscode].value;
        if (checkedValue == "Up") {
            //  alert("Up");
            $("#UserStatus").val("Up")
        }
            else {
                //alert("Down");
            $("#UserStatus").val("Down")
            }
    }

    function check_validation()
    {
        if (checkstep1() == false) { return false; };
        if (checkstep3() == false) { return false; };
        if (checkstep4() == false) { return false; };
        if (adddetail() == false) { return false; };
     }

    function adddetail()
    {
        var oTable = document.getElementById("myTBService1");
        /*    var events = [{ "ServiceCode":"","ActionStatus":0,"Remark": "-"}];*/
        var datasrv = [], newItem, i = 0;
        $("input:checked", oTable).each(function () {
            var tdColumn = $(this).closest("td");
            rowId = $(this).val();
            columnIndex = tdColumn.index();
            // console.log(columnIndex);
            // console.log(rowId)
            // events[rowid].ActionStatus = columnIndex;

            datasrv.push({ "ReqNo": $("#ReqHNo").val(), "ServiceCode": rowId, "Actions": columnIndex, "ActionsUp": columnIndex, "Remarks": "-", "IMEINo": "-", "AssetCode": "-", "Brand": "-", "ItemAssetNo": "-", "ItemSerialNo": "-", "TelNumber": "-", "CheckListByIT": "-", "CheckListByITDate": "", "Mouse": "-", "EndDate": "-" });
            //   datasrv.push({ "ReqNo": "1", "ServiceCode": rowId,   "Remarks": "-" });
        });

        var oTable2 = document.getElementById("myTBService2");


        $("input:checked", oTable2).each(function () {
            var tdColumn = $(this).closest("td");
            rowId = $(this).val();
            columnIndex = tdColumn.index();

            datasrv.push({ "ReqNo": $("#ReqHNo").val(), "ServiceCode": rowId, "Actions": columnIndex, "ActionsUp": columnIndex, "Remarks": "-", "IMEINo": "-", "AssetCode": "-", "Brand": "-", "ItemAssetNo": "-", "ItemSerialNo": "-", "TelNumber": "-", "CheckListByIT": "-", "CheckListByITDate": "", "Mouse": "-", "EndDate": "-" });

        });

        console.log(datasrv);

        var datalength = datasrv.length;

        for (i = 0; i < datalength; i++) {
            var srv_row = datasrv[i].ServiceCode;
            console.log(srv_row)

            var x1 = "";
            if (srv_row > 9) {
                x1 = document.getElementById("myTBService2").rows[srv_row - 9].cells[3].getElementsByTagName('input')[0].value;
            } else {
                x1 = document.getElementById("myTBService1").rows[srv_row].cells[3].getElementsByTagName('input')[0].value;
            }

            console.log("X1 : " + x1 + " i :" + i);
           
            var Imeino = document.getElementById('IMEI').value;
            var assetCode = document.getElementById('assetCode').value;

            if (i <= datalength) {
                if (datasrv[i].ServiceCode == "16") {
                    datasrv[i].Remarks = document.getElementById('Remark16').value;
                    datasrv[i].IMEINo = Imeino;
                    datasrv[i].AssetCode = assetCode;
                }
                else {

                    if (parseInt(datasrv[i].ServiceCode) <= 9) {
                        datasrv[i].Remarks = x1;
                        if (datasrv[i].ServiceCode == "7") {
                            datasrv[i].EndDate = document.getElementById('Enddate7').value;
                            datasrv[i].Remarks = document.getElementById('Remark7').value;
                   
                      
                        }
                    }
                    else {
                        datasrv[i].Remarks = x1;
                        if (datasrv[i].ServiceCode == "17") {
                            datasrv[i].EndDate = document.getElementById('Enddate17').value;
                            datasrv[i].Remarks = document.getElementById('Remark17').value;
                      
                             
                        }
                    }

                }

            }




        }
        console.log(datasrv);
        if (datasrv.length == 0) {
            alert("โปรดเลือกรายการสิทธิ์การใช้บริการ");
            return false;
        } else
        {
        console.log(JSON.stringify(datasrv));

                $.ajax({
                    type: "Post",
                    data: { reqFormItdetail: datasrv },
                    datatype: "Json",
                    url: '@Url.Action("CreateDetail", "ReqFormIT")',
                    success: function (Data) {
                        $("#ReqHNo").val(Data);

                        $("#H_EffectStartDate").val($('#EffectStartDate_Temp').val());
                        $("#H_EffectEndDate").val($('#EffectEndDate_Temp').val());

                        $("#createform").submit();
                    }
                });

        }

    }
</script>